
@font-face {
  font-family: 'EurofurenceModified';
  src: url('EurofurenceModified.eot?#iefix') format('embedded-opentype'),  url('EurofurenceModified.woff') format('woff'), url('EurofurenceModified.ttf')  format('truetype'), url('EurofurenceModified.svg#EurofurenceModified') format('svg');
  font-weight: normal;
  font-style: normal;
}
